.Container {
  display: grid;
  grid-template-columns: repeat(7, minmax(100px, 1fr));
  padding: 20px;
  border: solid 1px #ccc;
  background-color: transparent;
  &:nth-child(odd) {
    background-color: #ccc;
  }
}

.Detail {
  display: flex;
  justify-content: center;
  align-items: center;
}
