.Container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  padding: 20px 10px;
  border-bottom: none;
  background-color: grey;
  @media (min-width: '768px') {
    padding: 20px;
  }
}

.Detail {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 10px;
  @media (min-width: '768px') {
    font-size: 12px;
  }
  @media (min-width: '1024px') {
    font-size: 20px;
  }
}

.DetailHiddenM {
  @media (max-width: '1024px') {
    display: none;
  }
}

.DetailHidden {
  @media (max-width: '768px') {
    display: none;
  }
}

.DetailHiddenS {
  @media (max-width: '425px') {
    display: none;
  }
}
